<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Login</title>
    <style>
      .align {
        display: grid;
        text-align: center;
        margin-top: 20vh;
      }
      body {
        background-color: beige;
      }
    </style>
  </head>
  <body>
    <div><h1>Header</h1></div>
    <div class="align">
      <div class="container">
        username:<input type="text" /><br />Password:<input
          type="password"
        /><br />
        <div class="row">
          <button class="bg-primary col-sm-3">Login</button>
        </div>
      </div>
    </div>
  </body>
</html>
