<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <style>
      .alignform {
        display: grid;
        grid-template-columns: auto auto;
      }
    </style>
  </head>
  <body>
    <div><h1>Header</h1></div>
    <div class="align">
      <div class="row">
        <h3>Registration Form</h3>
      </div>
      <div class="row">User Email<input type="text" /></div>
      <div class="row">Password <input type="password" /></div>
      <div class="row">Confirm Password <input type="password" /></div>
      <div class="row">Address<textarea></textarea></div>
      <div class="row"><button class="bg-primary">Submit</button></div>
      <!-- <div class="row"><label for="Password"></label><input type="password"></div> -->
    </div>
  </body>
</html>
